<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RealTime Progress Bar</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
<div class="container">

    <div class="page-header">
        <h1>RealTime Progress Bar</h1>
    </div>

    <div class="progress">
        <div  style="width: 0%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="0"
             role="progressbar" class="progress-bar progress-bar-success progress-bar-striped">
            0% Complete (success)
        </div>
    </div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>
